main .templ li, main .carousel-item.active, main section li, footer .pie, .servicios .list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

main .depi, main .pest, main .unas, main .cuerpo, main .facial {
  padding: 20px;
  margin: 20px;
  border: 1.5px solid;
}

* {
  padding: 0;
  border: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: repeat(3, 0fr);
  grid-template-areas: "head head head" "descr descr tarif" "footer footer footer";
  background-color: #faeee7;
}

@media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 0.5fr;
    grid-template-rows: 0.1fr;
    grid-template-areas: "head" "descr" "tarif" "footer";
  }
}
header {
  grid-area: head;
}
header .navbar {
  background-color: #faeee7;
  color: black;
  font-family: "Pacifico";
}
header .navbar .navbar-nav {
  padding-left: 300px;
}
header .navbar .navbar-nav .nav-item {
  border-color: #ff8ba7;
  margin: 5px;
}
header .navbar .navbar-nav .nav-item .nav-link {
  color: black;
}
header .btn {
  color: black;
}
header .btn:hover {
  background-image: linear-gradient(to top, #ff8ba7, rgb(110, 49, 104));
  background-color: #ff8ba7;
}

main {
  grid-area: descr;
  padding-top: 70px;
}
main .descript {
  font-size: 20px;
  font-family: "Josefin Slab";
  border-color: #ff8ba7;
  background-color: rgba(238, 228, 221, 0.7607843137);
  padding: 20px;
  margin: 20px;
  border: 1.5px solid;
}

.servicios {
  grid-area: tarif;
}
.servicios .turn {
  margin-top: 20px;
  margin-right: 60px;
}
.servicios .list {
  padding-top: 25px;
  flex-direction: column;
}
.servicios .list ul {
  list-style-type: none;
}
.servicios .list h3 {
  margin-right: 200px;
  font-family: cursive;
}
.servicios .list .btn {
  margin-right: 10px;
  color: black;
  border-color: #ff8ba7;
  font-family: "Pacifico";
}
.servicios .list .btn:hover {
  background-image: linear-gradient(to top, #ff8ba7, rgb(110, 49, 104));
  background-color: #ff8ba7;
}

main .templ li, main .carousel-item.active, main section li, footer .pie, .servicios .list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

main .depi, main .pest, main .unas, main .cuerpo, main .facial {
  padding: 20px;
  margin: 20px;
  border: 1.5px solid;
}

footer {
  grid-area: footer;
  background-color: #ff8ba7;
}
footer .pie {
  flex-wrap: nowrap;
}
footer .pie a {
  margin: 15px;
}
footer .pie p {
  margin: 130px;
}
footer .pie .btn {
  font-family: "Courier New";
  background-image: linear-gradient(to top, #ff8ba7, rgb(110, 49, 104));
  border-color: black;
}
footer .pie i {
  color: black;
}
footer .pie i:hover {
  transform: scale(2, 2);
  transition: all 2s;
}

main section li {
  list-style-type: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
main .templ li, .servicios .list, footer .pie, main section li, main .carousel-item.active {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

main .depi, main .pest, main .unas, main .cuerpo, main .facial {
  padding: 20px;
  margin: 20px;
  border: 1.5px solid;
}

main .templ li {
  list-style-type: none;
  padding: inferit;
}
main .btn {
  margin-left: 100px;
  color: black;
  border-color: #ff8ba7;
}
main .btn:hover {
  background-image: linear-gradient(to top, #ff8ba7, rgb(110, 49, 104));
  background-color: #ff8ba7;
}

.servicios .list, footer .pie, main section li, main .carousel-item.active, main .templ li {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

main .depi, main .pest, main .unas, main .cuerpo, main .facial {
  padding: 20px;
  margin: 20px;
  border: 1.5px solid;
}

main .btn {
  margin-left: 0px;
}
main .btn:hover {
  color: black;
}
main .facial {
  border-color: #ff8ba7;
  font-size: 20px;
  font-family: "Josefin Slab";
}
main .facial h2 {
  font-weight: bold;
  padding-left: 30px;
}
main .facial ul {
  margin-left: 170px;
}
main .cuerpo {
  border-color: #ff8ba7;
  font-size: 20px;
  font-family: "Josefin Slab";
}
main .cuerpo h2 {
  font-weight: bold;
  padding-left: 150px;
}
main .unas {
  border-color: #ff8ba7;
  font-size: 20px;
  font-family: "Josefin Slab";
}
main .unas h2 {
  font-weight: bold;
  padding-left: 120px;
}
main .pest {
  border-color: #ff8ba7;
  font-size: 20px;
  font-family: "Josefin Slab";
}
main .pest h2 {
  font-weight: bold;
  padding-left: 130px;
}
main .depi {
  border-color: #ff8ba7;
  font-size: 20px;
  font-family: "Josefin Slab";
}
main .depi h2 {
  font-weight: bold;
  padding-left: 100px;
}

/*# sourceMappingURL=style.css.map */
