@import "../base/colores";
*{
    padding: 0;
    border: 0;
}
body{
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    grid-template-rows: repeat(3,0fr);
    grid-template-areas: 
    "head head head"
    "descr descr tarif"
    "footer footer footer";
    background-color: $bg-body;
}
@media screen and (max-width: 768px) {
        body{
            display: grid;
            grid-template-columns: 0.5fr;
            grid-template-rows: 0.1fr;
            grid-template-areas: 
            "head"
            "descr"
            "tarif"
            "footer";
        }
}