@import "../base/colores";
@import "../base/maps";
@import "../base/extends";

footer{
    grid-area: footer;
    background-color: $bg-footer;
    .pie{
        @extend %display;
        flex-wrap: nowrap;
        a{
            margin: 15px;
        }
        p{
            margin: 130px;
        }
        .btn{
            font-family: map-get($estilo , fbot);
            background-image: linear-gradient(to top, $bg-footer, $grad);
            border-color: black;
        }
        i{
            color: $colnegr;
            &:hover{
                transform: scale(2,2);
                transition: all 2s;
            }
        }
    }
}