@import "../base/colores";
@import "../base/mixin";
@import "../base/maps";

main{
    grid-area: descr;
    padding-top: 70px;
.descript{
    font-size: map-get($estilo , psize );
    font-family: map-get($estilo , pfon );
    @include descr ($bg-footer,$bg-descr);
    padding: 20px;
    margin: 20px;
    border: 1.5px solid;

}
}