main{
    section{
        li{
            @extend %display;
            list-style-type: none;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: italic;
        }
    }
    .carousel-item.active{
        @extend %display;
    }
}