@import "../base/colores";
@import "../base/maps";
@import "../base/mixin";

header{
    grid-area: head;
        .navbar{
            @include colNav($bg-body, $colnegr);
            font-family: map-get($estilo , fbar);
                .navbar-nav{
                    padding-left: 300px;                            
                    .nav-item{                                      
                        border-color: $bg-footer;
                        margin: 5px;
                            .nav-link {
                                color: $colnegr;
                     }
                }
            }
        }       
            .btn{
                color: $colnegr;
                &:hover{
                    background-image: linear-gradient(to top, $bg-footer, $grad);
                    background-color: $bg-footer;
                }
            }
}