@import "../base/colores";
@import "../base/maps";

.servicios{
    grid-area: tarif;
    .turn{
        margin-top: 20px;
        margin-right: 60px;
    }
    .list{
        @extend %display;
        padding-top: 25px;
        flex-direction: column;
        ul{
            list-style-type: none;
        }
        h3{
            margin-right: 200px;
            font-family: cursive;
        }
        
        .btn{
            margin-right: 10px;
            color: $colnegr;
            border-color: map-get($estilo , bcol);
            font-family: map-get($estilo , fbar);
                    &:hover{
                        background-image: linear-gradient(to top, $bg-footer, $grad);
                        background-color: $bg-footer;
                    }
        }
    }
}