@import "../base/colores";
@import "../base/maps";
@import "../base/extends";

main{
.templ{
    li{
        @extend %display;
        list-style-type: none;
        padding: inferit;
        
    }
}
.btn{
    margin-left: 100px;
    color: $colnegr;
    border-color: $bg-footer;
    &:hover {
        background-image: linear-gradient(to top, #ff8ba7, rgb(110, 49, 104));
        background-color: $bg-footer;
        
    }
}
}